/* Library Event Logs */

.p-logs {
    color: rgb(var(--v-theme-on-surface));
    border-radius: 4px;
}

.p-log-empty,
.p-log-message {
    display: block;
    text-align: left;
    font-size: 0.825rem;
    font-family: monospace;
    white-space: normal;
    color: rgb(var(--v-theme-on-surface));
    padding: 4px;
    margin: 0;
}

.p-log-empty {
    font-weight: normal;
}

.p-log-message {
    font-weight: bold;
}

.p-log-message span,
.p-log-message .p-log-message__text {
    color: rgba(var(--v-theme-on-surface), 0.95);
    font-weight: normal;
}

.p-log-message .p-log-message__time {
    font-weight: 600;
    color: rgba(var(--v-theme-on-surface), 0.95);
}

.p-log-fatal,
.p-log-critical,
.p-log-error {
    color: rgba(var(--v-theme-error), 0.95);
}

.p-log-warning {
    color: rgba(var(--v-theme-warning), 0.95);
}

.p-log-info {
    color: rgba(var(--v-theme-info), 0.95);
}

.p-log-debug {
    color: rgba(var(--v-theme-on-surface), 0.9);
}
