/* Notifications */

#p-notify {
    position: fixed;
    bottom: 16px;
    left: 0;
    right: 0;
    margin-top: auto;
    user-select: none;
    display: flex;
    gap: 4px;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    z-index: 2500;
}

 .v-snackbar {
    margin-left: auto;
    margin-right: auto;
}

.v-snackbar__wrapper {
    position: relative;
    min-width: 320px;
    color: rgba(var(--v-theme-on-surface), 1);
    background-color: rgba(var(--v-theme-surface), 0.32);
    backdrop-filter: blur(6px);
}

#p-notify .v-snackbar__wrapper .v-snackbar__content {
    z-index: 2;
    display: flex;
    gap: 4px;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: stretch;
    justify-items: center;
    padding: 6px 8px;
    margin: 0;
}

.is-rtl #p-notify .v-snackbar__wrapper .v-snackbar__content {
    flex-direction: row-reverse;
}

#p-notify .v-snackbar__wrapper .v-snackbar__content .p-notify__icon {
    margin: 0 6px;
}

#p-notify .v-snackbar__wrapper .v-snackbar__content .p-notify__text {
    flex-grow: 1;
    padding: 0;
    text-align: left;
}

.is-rtl #p-notify .v-snackbar__wrapper .v-snackbar__content .p-notify__text {
    text-align: right;
}

#p-notify .v-snackbar__wrapper .v-snackbar__content .p-notify__close {
    opacity: 0.8;
}

.v-snackbar__wrapper .v-snackbar__underlay {
    background-color: rgba(var(--v-theme-surface), 0.32);
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    pointer-events: none;
    border-radius: inherit;
}

.v-snackbar.p-notify--success .v-snackbar__wrapper {
    background-color: rgba(var(--v-theme-success), 0.36) !important;
    color: rgba(var(--v-theme-on-success), 1) !important;
}

.v-snackbar.p-notify--info .v-snackbar__wrapper {
    background-color: rgba(var(--v-theme-info), 0.36) !important;
    color: rgba(var(--v-theme-on-info), 1) !important;
}

.v-snackbar.p-notify--warning .v-snackbar__wrapper {
    background-color: rgba(var(--v-theme-warning), 0.4) !important;
    color: rgba(var(--v-theme-on-warning), 1) !important;
}

.v-snackbar.p-notify--error .v-snackbar__wrapper {
    background-color: rgba(var(--v-theme-error), 0.42) !important;
    color: rgba(var(--v-theme-on-error), 1) !important;
}
